<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>DepartmentAndMembers</key>
	<array>
		<dict>
			<key>connectionplist</key>
			<string>小明</string>
			<key>icon</key>
			<string></string>
			<key>itemType</key>
			<string>memeber</string>
			<key>name</key>
			<string>小明</string>
		</dict>
		<dict>
			<key>connectionplist</key>
			<string>小丽</string>
			<key>icon</key>
			<string></string>
			<key>itemType</key>
			<string>memeber</string>
			<key>name</key>
			<string>小丽</string>
		</dict>
		<dict>
			<key>connectionplist</key>
			<string>办公室</string>
			<key>icon</key>
			<string></string>
			<key>itemType</key>
			<string>department</string>
			<key>name</key>
			<string>办公室</string>
		</dict>
		<dict>
			<key>connectionplist</key>
			<string>人力资源部</string>
			<key>icon</key>
			<string></string>
			<key>itemType</key>
			<string>department</string>
			<key>name</key>
			<string>人力资源部</string>
		</dict>
		<dict>
			<key>connectionplist</key>
			<string>财务部</string>
			<key>icon</key>
			<string></string>
			<key>itemType</key>
			<string>department</string>
			<key>name</key>
			<string>财务部</string>
		</dict>
		<dict>
			<key>connectionplist</key>
			<string>市场部</string>
			<key>icon</key>
			<string></string>
			<key>itemType</key>
			<string>department</string>
			<key>name</key>
			<string>市场部</string>
		</dict>
		<dict>
			<key>connectionplist</key>
			<string>运营管理部门</string>
			<key>icon</key>
			<string></string>
			<key>itemType</key>
			<string>department</string>
			<key>name</key>
			<string>运营管理部门</string>
		</dict>
		<dict>
			<key>connectionplist</key>
			<string>商业价值研究院</string>
			<key>icon</key>
			<string></string>
			<key>itemType</key>
			<string>department</string>
			<key>name</key>
			<string>商业价值研究院</string>
		</dict>
		<dict>
			<key>connectionplist</key>
			<string>GPU</string>
			<key>icon</key>
			<string></string>
			<key>itemType</key>
			<string>department</string>
			<key>name</key>
			<string>GPU</string>
		</dict>
	</array>
</dict>
</plist>
