<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>DepartmentAndMembers</key>
        <array>
            <dict>
                <key>connectionplist</key>
                <string>成龙</string>
                <key>icon</key>
                <string></string>
                <key>itemType</key>
                <string>memeber</string>
                <key>name</key>
                <string>成龙</string>
            </dict>
            <dict>
                <key>connectionplist</key>
                <string>黄晓明</string>
                <key>icon</key>
                <string></string>
                <key>itemType</key>
                <string>memeber</string>
                <key>name</key>
                <string>黄晓明</string>
            </dict>
        </array>
    </dict>
</plist>
