<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>YLAddressBook.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>1724B68B1E0911FE00D042A2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1724B6A41E0911FF00D042A2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1724B6AF1E0911FF00D042A2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
